In [6]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data,index=labels )
print(df)

print(df.head(3))


print(df.dropna())


df.loc["k"]=[ "Suresh",  15.5,  1,  "yes"]
print(df.loc["k"])

x=df.drop("attempts",axis=1)
print(x)


success=[]
for i in df['score']:
    print(i)
    if i>10:
        success.append(1)
    elif i<10:
        success.append(0)
    else:
        success.append(0)
print (success)
df['success']=success
print(df)


df.to_csv('df_csv')
my_data=pd.read_csv('df_csv')
print(my_data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
name        Suresh
score         15.5
attempts         1
qualify        yes
Name: k, dtype: object
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes
12.5
9.0
16.5
nan
9.0
20.0
14.5
nan
8.0
19.0
15.5
[1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1]
        name  score  attempts qualify  success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
d      James    NaN         3      no        0
e      Emily    9.0         2      no        0
f    Michael   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
h      Laura    NaN         1      no        0
i      Kevin    8.0         2      no        0
j      Jonas   19.0         1     yes        1
k     Suresh   15.5         1     yes        1
   Unnamed: 0       name  score  attempts qualify  success
0           a  Anastasia   12.5         1     yes        1
1           b       Dima    9.0         3      no        0
2           c  Katherine   16.5         2     yes        1
3           d      James    NaN         3      no        0
4           e      Emily    9.0         2      no        0
5           f    Michael   20.0         3     yes        1
6           g    Matthew   14.5         1     yes        1
7           h      Laura    NaN         1      no        0
8           i      Kevin    8.0         2      no        0
9           j      Jonas   19.0         1     yes        1
10          k     Suresh   15.5         1     yes        1